{% embed "@skeleton-package-crud/content.twig" with {'object_name': 'Email Type'|trans} %}

	{% block pager_table_head %}
		<th>{{ pager.create_header('Id'|trans, 'id')|raw }}</th>
		<th>{{ pager.create_header('Name'|trans, 'name')|raw }}</th>
	{% endblock pager_table_head %}

	{% block pager_table_row %}
		<td>{{ object.id }}</td>
		<td>{{ object.name }}</td>
	{% endblock pager_table_row %}

	{% block form_create %}
		<div class="form-group">
			<label class="col-xs-3 control-label">{% trans "Name" %}</label>
			<div class="col-xs-9"><input type="text" class="form-control" name="object[name]" /></div>
		</div>

		<div class="form-group">
			<label class="col-xs-3 control-label">{% trans "Identifier" %}</label>
			<div class="col-xs-9"><input type="text" class="form-control" name="object[identifier]" /></div>
		</div>
	{% endblock form_create %}

	{% block page_edit %}
		{% include "@skeleton-package-cms-email/edit.twig" %}
	{% endblock page_edit %}

{% endembed %}
